@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Background image*/
    width: 100%;
    min-height: 100vh;
    background-image: url(assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* Others*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start of css that's relevant to the water droplets */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}

.container .drop {
    position: relative;
    width: 350px;
    height: 350px;
    background: #b0b8ba;
    opacity: 0.7;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.5), 
    25px 35px 20px rgba(0,0,0,0.5), 
    25px 30px 30px rgba(0,0,0,0.5), 
    inset -20px -20px 25px rgba(255, 255, 255, 0.184);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .drop:nth-child(1) {
    border-radius: 36% 64% 59% 41% / 26% 49% 51% 74% ;
}

.container .drop:nth-child(2) {
    border-radius: 39% 61% 35% 65% / 45% 31% 69% 55% ;
}

.container .drop:nth-child(3) {
    border-radius: 64% 36% 37% 63% / 45% 34% 66% 55% ;
}

.container .drop:hover {
    background: #c0cbcd;
    opacity: 0.8;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.5), 
    25px 35px 20px rgba(0,0,0,0.5), 
    25px 30px 30px rgba(0,0,0,0.5), 
    inset -20px -20px 25px rgba(255, 255, 255, 0.567);
    border-radius: 50%;
}

.container .drop::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.container .drop::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.container .drop .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
    font-weight: 500;
}

.container .drop .content h2 {
    position: relative;
    width: 80px;
    height: 80px;
    background: #eff0f4;
    border-radius: 50%;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1), 
    inset -2px -5px 10px rgba(255,255,255,1), 
    15px 15px 10px rgba(0,0,0,0.05), 
    15px 10px 15px rgba(0,0,0,0.025); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: var(--clr);
}

.container .drop .content a {
    position: relative;
    padding: 10px 25px;
    background: var(--clr);
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    font-weight: 500;
    text-shadow: 0 2px 2px rgba(0,0,0,0.25);
    opacity: 0.75;
    transition: 0.5s;
}

.container .drop .content a:hover {
    opacity: 1;
}

.container .drop .content a::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%);
    width: 65%;
    height: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
}

/* Glass Panel */
.glass_panel {
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
    margin: 3em;
}

.glass_panel:hover {
    backdrop-filter: blur(10px);
}

.glass_panel h1 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.glass_panel h2 {
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
    color: #c3f198;
    margin-bottom: 10px;
}

.glass_panel p {
    position: relative;
    width: 100%;
    text-align: justify;
    font-size: 1em;
    font-weight: 100;
    color: #e8f9df;
    margin-bottom: 10px;
}

.glass_panel button {
    position: relative;
    width: 200px;
    padding: 15px 20px;
    outline: none;
    font-size: 0.75em;
    color: #fff;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 10px;
}

.glass_panel button:hover {
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
}